{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="text-center">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-row">

            <div class="col-md-2 mb-3">

            </div>
            <div class="col-md-8 mb-3">
                <label for="exampleFormControlSelect1">أسم السائق : </label>
                {{ catch_receipt_form.driver }}
                <a href="{%url 'add_driver'%}"><img src="{% static 'img/plus.png' %}" style="width: 20px;"></a>
                
            </div>
            <div class="col-md-2 mb-3">
            </div>

            <div class="col-md-4 mb-3">
                <label for="validationCustom01">مدينة التحميل : </label>
                {{ catch_receipt_form.source }}
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom01">مدينة التنزيل : </label>
                {{ catch_receipt_form.destination }}
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom01"> مصدر التحميل : </label>
                {{ catch_receipt_form.company }}
            </div>


            <div class="col-md-3 mb-3">
                <label for="validationCustom01"> أجرة التحميل : </label>
                {{ catch_receipt_form.amount }}
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationCustom01"> يوميات : </label>
                {{ catch_receipt_form.overnight }}
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationCustom01"> اجرة رجعة : </label>
                {{ catch_receipt_form.return_fare }}
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationCustom01"> خصومات : </label>
                {{ catch_receipt_form.deduction }}
            </div>


            <div class="col-md-4 mt-4">
                <label for="validationCustom01"> رقم كشف التحميل : </label>
                {{ catch_receipt_form.policy_number }}
            </div>
            <div class="col-md-4 mt-4">
                <label for="validationCustom01"> رقم فاتورة المصنع : </label>
                {{ catch_receipt_form.notice_number }}
            </div>
            <div class="col-md-4 mt-4">
                <label for="validationCustom01"> رقم الشحن </label>
                {{ catch_receipt_form.Shipment_id }}
            </div>


            <div class="col-md-4 my-5">
                <label for="exampleFormControlSelect1 w-100"> نوع الشاحنة : </label>
                {{ catch_receipt_form.Vehicle_Type }}
            </div>

            <div class="col-md-4 my-5">
                <label for="exampleFormControlSelect1 w-100"> مندوب التحميل : </label>
                {{ catch_receipt_form.delegate }}
            </div>

            <div class="col-md-4 m-5">
                <input class="btn btn-primary w-100" type="submit" value="create"></a>
            </div>
         





        </div>
    </form>
<div>





        <!-- جدول للعرض -->

        {% endblock %}